.btn {
  border: none;
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn.sm {
  padding: 1.6rem 2.2rem;
  font-size: 1.5rem;
  margin-top: 1.4rem;
}

.btn.sm:hover {
  background-color: red;
  padding-inline: 5rem;
}
