.genderContainer {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
  overflow: hidden;
  margin-bottom: 2.4rem;

  position: relative;
}

.genderCard {
  position: relative;
  height: 70rem;
  width: 70rem;
  background-size: cover;
  display: flex;
}

.genderCard:nth-child(1) {
  justify-self: end;
}

.genderCard:nth-child(2) {
  justify-self: start;
}

.genderCard::after {
  content: "";
  position: absolute;
  top: 3rem;
  right: 2.4rem;
  height: 65rem;
  width: 65rem;
  border: 2px solid #fff;
}

.genderActions {
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  width: max-content;
  text-align: center;
  row-gap: 1.2rem;

  align-self: flex-end;
  margin: 0 4rem 4rem auto;
  z-index: 10;
}

.genderActions p {
  margin-bottom: 1.2rem;
}

.btn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;

  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: 0 0 0 2px #fff;
}
