@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Devonshire&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @font-face {
  font-family: "HelveticaNeue";
  src: url(../src/fonts/);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  /* column-gap: 6.4rem; */
}

.grid5Cols {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

ul {
  list-style: none;
}
