@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Assistant", sans-serif;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  /* column-gap: 6.4rem; */
}

.grid5Cols {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

ul {
  list-style: none;
}
